<a href="https://colab.research.google.com/github/rohitgupta29/Hackathons/blob/main/e_commerce_22_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df_train=pd.read_csv('https://raw.githubusercontent.com/rohitgupta29/Hackathons/main/e-commerce_retail/Data/Train.csv')
df_test=pd.read_csv('https://raw.githubusercontent.com/rohitgupta29/Hackathons/main/e-commerce_retail/Data/Test.csv')

In [4]:
df_train.UnitPrice.describe()

count    284780.000000
mean          3.451216
std          78.399541
min           0.000000
25%           1.250000
50%           1.950000
75%           3.750000
max       38970.000000
Name: UnitPrice, dtype: float64

In [5]:
data = df_train.loc[(df_train.UnitPrice < 4000)].copy()

In [6]:
df_test[df_train.Quantity > 3000]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       InvoiceNo  StockCode  ...  CustomerID  Country
26477       8102       2033  ...     16904.0       35
49344      16034       1685  ...     14907.0       35

[2 rows x 7 columns]

In [7]:
df_train[df_train.Quantity > 2360].head()

        InvoiceNo  StockCode  Description  ...  UnitPrice CustomerID  Country
5758         2752       1547         1537  ...       0.94    16029.0       35
26477       17360       3034          248  ...       0.00    13256.0       35
34794        1127       1547         1537  ...       0.94    16029.0       35
49344        5463        356         1168  ...       2.10    15749.0       35
141379       1909       2001         2002  ...       1.04    12346.0       35

[5 rows x 8 columns]

In [8]:
df_test[df_test.Quantity <-160].head()

       InvoiceNo  StockCode  ...  CustomerID  Country
7316       20935       2037  ...     12931.0       35
8610       21999       1804  ...     12657.0       13
10472      21976       1092  ...     15482.0       35
14547      19598        382  ...     13694.0       35
15712      21534       1006  ...     14607.0       35

[5 rows x 7 columns]

In [9]:
data = data.loc[(data.Quantity > -1360) & (data.Quantity < 2000)].copy()

In [10]:
data.shape

(284756, 8)

In [11]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], errors='coerce')
data["Year"] = data.InvoiceDate.dt.year
data["Quarter"] = data.InvoiceDate.dt.quarter
data["Month"] = data.InvoiceDate.dt.month
data["Day"] = data.InvoiceDate.dt.day
data["Dayofyear"] = data.InvoiceDate.dt.dayofyear
data["WeekofYear"] = data.InvoiceDate.dt.weekofyear
data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

   InvoiceNo  StockCode  Description  ...  Day Dayofyear  WeekofYear
0       6141       1583          144  ...    6       126          18
1       6349       1300         3682  ...   11       131          19
2      16783       2178         1939  ...   20       324          46
3      16971       2115         2983  ...   22       326          47
4       6080       1210         2886  ...    6       126          18

[5 rows x 14 columns]

Test Data

In [12]:
data1=df_test
data1['InvoiceDate'] = pd.to_datetime(data1['InvoiceDate'], errors='coerce')
data1["Year"] = data1.InvoiceDate.dt.year
data1["Quarter"] = data1.InvoiceDate.dt.quarter
data1["Month"] = data1.InvoiceDate.dt.month
data1["Day"] = data1.InvoiceDate.dt.day
data1["Dayofyear"] = data1.InvoiceDate.dt.dayofyear
data1["WeekofYear"] = data1.InvoiceDate.dt.weekofyear

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [13]:
data.InvoiceNo.unique()

array([ 6141,  6349, 16783, ..., 21879, 13119, 20867])

In [14]:
data1["35"] = np.where(data1.Country == 35, 1, 0)

In [15]:
data["35"] = np.where(data.Country == 35, 1, 0)

In [16]:
d=data.drop('Quantity',axis=1)

In [17]:
data.shape

(284756, 15)

In [18]:
data1.shape

(122049, 14)

In [19]:
d1=data1.drop(['Quantity','InvoiceNo'],axis=1)
d1=d1.drop('InvoiceDate',axis=1)

In [20]:
d=d.drop(['InvoiceDate','InvoiceNo'],axis=1)

In [21]:
d1.shape

(122049, 11)

In [22]:
d.shape

(284756, 12)

In [23]:
d.isnull().sum()

StockCode      0
Description    0
UnitPrice      0
CustomerID     0
Country        0
Year           0
Quarter        0
Month          0
Day            0
Dayofyear      0
WeekofYear     0
35             0
dtype: int64

In [24]:
X=d.drop('UnitPrice',axis=1)
y=d.UnitPrice

In [25]:
# !pip install catboost

In [26]:
# from catboost import CatBoostRegressor

# model =  CatBoostRegressor(iterations=2000,
#                                     learning_rate=1,
#                                     depth=8)

# model.fit(X,y)

In [27]:
# #importing library and building model
# from catboost import CatBoostRegressor
# model=CatBoostRegressor(iterations=3000, depth=6, learning_rate=0.1, loss_function='RMSE')
# model.fit(X, y,plot=True)

In [28]:
#Importing the relevant libraries for spot check algorithms
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

import warnings
warnings.filterwarnings("ignore")

In [29]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.ensemble import RandomForestRegressor

In [30]:
dt=DecisionTreeRegressor(random_state=0)
lg=GradientBoostingRegressor()
lr=LinearRegression()
rf=RandomForestRegressor(n_estimators=300)
classifier=[('Linear Regression',lr),('DecisionTreeRegressor',dt),('GradientBoosting',lg),('RandomForest',rf)]

In [31]:
vc=VotingRegressor(estimators=classifier)
vc.fit(X,y)

VotingRegressor(estimators=[('Linear Regression',
                             LinearRegression(copy_X=True, fit_intercept=True,
                                              n_jobs=None, normalize=False)),
                            ('DecisionTreeRegressor',
                             DecisionTreeRegressor(ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features=None,
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_w...
                             RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=300,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=None, verbose=0,
                                                   warm_start=False))],
                n_jobs=None, weights=None)

In [46]:
cases_pred = vc.predict(d1).round(2)
cases_pred

array([2.34, 1.56, 3.26, ..., 1.98, 3.74, 3.71])

In [58]:
result = pd.DataFrame(data=cases_pred)
result['UnitPrice'] = result[0]

e = result.drop(0, axis = 1)

e.to_csv("vc_rf_300_22.csv")
# result.head()

In [34]:
result.to_csv("submission_vote_300_2.csv" , index = False)

In [35]:
# from sklearn.model_selection import GridSearchCV

# rfc=RandomForestRegressor(random_state=42)

# param_grid = { 
#     'n_estimators': [200, 500],
#     'max_features': ['auto', 'sqrt', 'log2'],
#     'max_depth' : [4,5,6,7,8],
    
# }

# CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
# CV_rfc.fit(X, y)

# CV_rfc.best_params_

In [36]:
# from sklearn.ensemble import RandomForestRegressor
# model = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
#                       max_depth=None, max_features='auto', max_leaf_nodes=None,
#                       max_samples=None, min_impurity_decrease=0.0,
#                       min_impurity_split=None, min_samples_leaf=1,
#                       min_samples_split=2, min_weight_fraction_leaf=0.0,
#                       n_estimators=300, n_jobs=None, oob_score=False,
#                       random_state=None, verbose=0, warm_start=False)
# model.fit(X,y)

Keras

In [37]:
# y_pred2 = model.predict(d1)
# y_pred2 = pd.DataFrame(data = y_pred2)
# y_pred2['UnitPrice'] = y_pred2[0]
# e = y_pred2.drop(0,axis = 1)
# e.to_csv("unitpricecat_3000.csv")

KNN check

In [38]:
# #Importing the relevant libraries for spot check algorithms
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import Lasso
# from sklearn.linear_model import ElasticNet
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.ensemble import GradientBoostingRegressor
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.model_selection import KFold
# from sklearn.model_selection import cross_val_score

# import warnings
# warnings.filterwarnings("ignore")

In [39]:
# models = []
# models.append(('LR',LinearRegression()))
# models.append(('LASSO', Lasso()))
# models.append(('EN', ElasticNet()))
# models.append(('KNN', KNeighborsRegressor()))
# models.append(('CART', DecisionTreeRegressor()))
# models.append(('GBM', GradientBoostingRegressor()))
# models.append(('RF', RandomForestRegressor(n_estimators=300)))

# results = []
# names = []
# for name, model in models:
#     kfold = KFold(n_splits=10, random_state=21)
#     cv_results = cross_val_score(model, X, y, cv=kfold, scoring='max_error')
#     results.append(cv_results)
#     names.append(name)
#     msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
#     print(msg)