In [64]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [80]:
train = "https://raw.githubusercontent.com/rohitgupta29/Hackathons/main/e-commerce_retail/Data/Train.csv"
test = "https://raw.githubusercontent.com/rohitgupta29/Hackathons/main/e-commerce_retail/Data/Test.csv"

In [81]:
train = pd.read_csv(train)
test = pd.read_csv(test)

In [82]:
train["InvoiceDate"] = pd.to_datetime(train.InvoiceDate, cache=True)
print(train.InvoiceDate.max() - train.InvoiceDate.min())

test["InvoiceDate"] = pd.to_datetime(test.InvoiceDate, cache=True)
print(test.InvoiceDate.max() - test.InvoiceDate.min())

373 days 04:24:00
373 days 04:24:00

In [83]:
train.Description.nunique()

3819

In [84]:
train.UnitPrice.describe()

count    284780.000000
mean          3.451216
std          78.399541
min           0.000000
25%           1.250000
50%           1.950000
75%           3.750000
max       38970.000000
Name: UnitPrice, dtype: float64

In [85]:
train = train[train.UnitPrice < 2000].copy()

In [87]:
test.Quantity.describe()

count    122049.000000
mean         12.137920
std          54.311646
min       -9360.000000
25%           2.000000
50%           5.000000
75%          12.000000
max        4800.000000
Name: Quantity, dtype: float64

In [75]:
train[train.Quantity > 150].describe()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
count,1834.000000,1834.000000,1834.000000,1834.000000,1834.000000,1834.000000,1834.000000
mean,9371.201745,1594.494002,2011.790076,447.460742,1.363321,15412.973828,29.783533
std,4996.729508,932.844518,1097.678733,2588.597476,1.345634,1840.923922,10.008481
min,20.000000,9.000000,1.000000,151.000000,0.000000,12346.000000,0.000000
25%,5163.000000,885.250000,1179.250000,200.000000,0.420000,13848.000000,30.000000
50%,9903.500000,1477.000000,2049.000000,240.000000,1.060000,15251.000000,35.000000
75%,13381.250000,2167.000000,2880.000000,384.000000,1.790000,17381.000000,35.000000
max,18515.000000,3681.000000,3893.000000,80995.000000,10.950000,18251.000000,35.000000

In [43]:
np.exp(5)

148.4131591025766

In [56]:
train = train[train.Quantity > -150].copy()
train = train[train.Quantity < 150].copy()
train.Quantity.describe()

count    282821.000000
mean          9.844471
std          16.381103
min        -144.000000
25%           2.000000
50%           5.000000
75%          12.000000
max         147.000000
Name: Quantity, dtype: float64

## Date Time Data

In [94]:

train["Year"] = train.InvoiceDate.dt.year
train["Quarter"] = train.InvoiceDate.dt.quarter
train["Month"] = train.InvoiceDate.dt.month
train["Week"] = train.InvoiceDate.dt.week
train["Weekday"] = train.InvoiceDate.dt.weekday
train["Day"] = train.InvoiceDate.dt.day
train["Dayofyear"] = train.InvoiceDate.dt.dayofyear
train["Date"] = pd.to_datetime(train[['Year', 'Month', 'Day']])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

In [102]:
test["Year"] = test.InvoiceDate.dt.year
test["Quarter"] = test.InvoiceDate.dt.quarter
test["Month"] = test.InvoiceDate.dt.month
test["Week"] = test.InvoiceDate.dt.week
test["Weekday"] = test.InvoiceDate.dt.weekday
test["Day"] = test.InvoiceDate.dt.day
test["Dayofyear"] = test.InvoiceDate.dt.dayofyear
test["Date"] = pd.to_datetime(test[['Year', 'Month', 'Day']])
test.shape[1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

15

In [103]:
train.shape[1]

16

In [105]:
X = train.drop(["UnitPrice", "InvoiceDate"], axis = 1)
y = train["UnitPrice"]

In [106]:
from catboost import CatBoostRegressor
model = CatBoostRegressor(iterations=100,learning_rate=1, depth=2)

model.fit(X,y)

0:	learn: 13.6900574	total: 88ms	remaining: 8.71s
1:	learn: 13.6291810	total: 110ms	remaining: 5.38s
2:	learn: 13.5104221	total: 128ms	remaining: 4.13s
3:	learn: 13.5016255	total: 147ms	remaining: 3.53s
4:	learn: 13.4702937	total: 165ms	remaining: 3.14s
5:	learn: 13.4389589	total: 184ms	remaining: 2.88s
6:	learn: 13.1855550	total: 202ms	remaining: 2.68s
7:	learn: 13.0277592	total: 222ms	remaining: 2.55s
8:	learn: 12.9706274	total: 250ms	remaining: 2.52s
9:	learn: 12.8711877	total: 280ms	remaining: 2.52s
10:	learn: 12.8673191	total: 316ms	remaining: 2.56s
11:	learn: 12.8621381	total: 357ms	remaining: 2.62s
12:	learn: 12.8555886	total: 388ms	remaining: 2.6s
13:	learn: 12.8377547	total: 414ms	remaining: 2.54s
14:	learn: 12.7435153	total: 443ms	remaining: 2.51s
15:	learn: 12.7136453	total: 469ms	remaining: 2.46s
16:	learn: 12.6761725	total: 497ms	remaining: 2.42s
17:	learn: 12.6726117	total: 524ms	remaining: 2.39s
18:	learn: 12.6467687	total: 556ms	remaining: 2.37s
19:	learn: 12.6101051	total: 577ms	remaining: 2.31s
20:	learn: 12.5435269	total: 612ms	remaining: 2.3s
21:	learn: 12.5123466	total: 653ms	remaining: 2.31s
22:	learn: 12.4668972	total: 685ms	remaining: 2.29s
23:	learn: 12.4521651	total: 718ms	remaining: 2.27s
24:	learn: 12.4222686	total: 761ms	remaining: 2.28s
25:	learn: 12.4176135	total: 802ms	remaining: 2.28s
26:	learn: 12.3954484	total: 841ms	remaining: 2.27s
27:	learn: 12.3666891	total: 880ms	remaining: 2.26s
28:	learn: 12.3413558	total: 919ms	remaining: 2.25s
29:	learn: 12.3237960	total: 945ms	remaining: 2.21s
30:	learn: 12.3190831	total: 975ms	remaining: 2.17s
31:	learn: 12.3161317	total: 998ms	remaining: 2.12s
32:	learn: 12.2891616	total: 1.02s	remaining: 2.08s
33:	learn: 12.2584599	total: 1.06s	remaining: 2.06s
34:	learn: 12.2313819	total: 1.09s	remaining: 2.03s
35:	learn: 12.2059483	total: 1.12s	remaining: 2s
36:	learn: 12.1800532	total: 1.16s	remaining: 1.97s
37:	learn: 12.1620883	total: 1.19s	remaining: 1.94s
38:	learn: 12.1369693	total: 1.21s	remaining: 1.89s
39:	learn: 12.1187229	total: 1.24s	remaining: 1.86s
40:	learn: 12.0956622	total: 1.27s	remaining: 1.82s
41:	learn: 12.0727092	total: 1.3s	remaining: 1.79s
42:	learn: 12.0561385	total: 1.33s	remaining: 1.77s
43:	learn: 12.0329276	total: 1.37s	remaining: 1.74s
44:	learn: 12.0148065	total: 1.41s	remaining: 1.72s
45:	learn: 11.9958132	total: 1.45s	remaining: 1.7s
46:	learn: 11.9766111	total: 1.49s	remaining: 1.68s
47:	learn: 11.9653736	total: 1.51s	remaining: 1.64s
48:	learn: 11.9622070	total: 1.56s	remaining: 1.62s
49:	learn: 11.9589759	total: 1.59s	remaining: 1.59s
50:	learn: 11.9564832	total: 1.65s	remaining: 1.58s
51:	learn: 11.9550835	total: 1.68s	remaining: 1.55s
52:	learn: 11.9542121	total: 1.71s	remaining: 1.52s
53:	learn: 11.9479326	total: 1.75s	remaining: 1.49s
54:	learn: 11.9422661	total: 1.79s	remaining: 1.46s
55:	learn: 11.9404212	total: 1.83s	remaining: 1.43s
56:	learn: 11.9353683	total: 1.86s	remaining: 1.41s
57:	learn: 11.9230007	total: 1.89s	remaining: 1.37s
58:	learn: 11.9214082	total: 1.93s	remaining: 1.34s
59:	learn: 11.9187515	total: 1.95s	remaining: 1.3s
60:	learn: 11.9165503	total: 1.98s	remaining: 1.27s
61:	learn: 11.9060130	total: 2.01s	remaining: 1.23s
62:	learn: 11.8943690	total: 2.04s	remaining: 1.2s
63:	learn: 11.8731462	total: 2.07s	remaining: 1.17s
64:	learn: 11.8616467	total: 2.12s	remaining: 1.14s
65:	learn: 11.8602452	total: 2.16s	remaining: 1.11s
66:	learn: 11.8584414	total: 2.2s	remaining: 1.08s
67:	learn: 11.8575039	total: 2.23s	remaining: 1.05s
68:	learn: 11.8505745	total: 2.27s	remaining: 1.02s
69:	learn: 11.8455386	total: 2.3s	remaining: 985ms
70:	learn: 11.8443723	total: 2.33s	remaining: 953ms
71:	learn: 11.8432070	total: 2.37s	remaining: 921ms
72:	learn: 11.8423534	total: 2.39s	remaining: 885ms
73:	learn: 11.8396855	total: 2.43s	remaining: 853ms
74:	learn: 11.8375361	total: 2.45s	remaining: 817ms
75:	learn: 11.8355211	total: 2.48s	remaining: 784ms
76:	learn: 11.8325611	total: 2.52s	remaining: 752ms
77:	learn: 11.8276412	total: 2.56s	remaining: 721ms
78:	learn: 11.8262607	total: 2.59s	remaining: 689ms
79:	learn: 11.8257282	total: 2.63s	remaining: 658ms
80:	learn: 11.8242483	total: 2.66s	remaining: 625ms
81:	learn: 11.8171493	total: 2.69s	remaining: 591ms
82:	learn: 11.8138320	total: 2.73s	remaining: 558ms
83:	learn: 11.8016971	total: 2.76s	remaining: 526ms
84:	learn: 11.7977243	total: 2.81s	remaining: 495ms
85:	learn: 11.7881550	total: 2.83s	remaining: 460ms
86:	learn: 11.7808335	total: 2.87s	remaining: 428ms
87:	learn: 11.7800571	total: 2.9s	remaining: 396ms
88:	learn: 11.7777209	total: 2.94s	remaining: 364ms
89:	learn: 11.7769102	total: 2.98s	remaining: 332ms
90:	learn: 11.7759721	total: 3.02s	remaining: 298ms
91:	learn: 11.7701359	total: 3.04s	remaining: 265ms
92:	learn: 11.7612093	total: 3.09s	remaining: 233ms
93:	learn: 11.7597896	total: 3.13s	remaining: 200ms
94:	learn: 11.7587169	total: 3.17s	remaining: 167ms
95:	learn: 11.7452708	total: 3.2s	remaining: 133ms
96:	learn: 11.7288304	total: 3.23s	remaining: 99.8ms
97:	learn: 11.7143967	total: 3.27s	remaining: 66.7ms
98:	learn: 11.7087462	total: 3.31s	remaining: 33.4ms
99:	learn: 11.6997177	total: 3.34s	remaining: 0us

In [108]:
y_pred = model.predict(test)

In [111]:
y_pred = pd.DataFrame(data=y_pred)
y_pred['UnitPrice']=y_pred[0]
e=y_pred.drop(0,axis=1)
e.to_csv("catprice.csv")

In [99]:

daily_data = pd.DataFrame(train.groupby(grouped_features))

,0,1
0,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
1,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
2,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
3,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
4,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
...,...,...
195066,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Quan...
195067,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...
195068,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...
195069,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Quan...
195070,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...

In [100]:
daily_data

,0,1
0,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
1,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
2,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
3,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
4,"(2010-12-01 00:00:00, 2010, 4, 12, 48, 2, 335,...",InvoiceNo StockCode Description Qua...
...,...,...
195066,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Quan...
195067,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...
195068,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...
195069,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Quan...
195070,"(2011-12-09 00:00:00, 2011, 4, 12, 49, 4, 343,...",InvoiceNo StockCode Description Qua...

In [60]:
low_quantity = daily_data.Quantity.quantile(0.01)
high_quantity = daily_data.Quantity.quantile(0.99)
print((low_quantity, high_quantity))

(-2.0, 130.0)

In [ ]:
from sklearn.model_selection import TimeSeriesSplit
X = train.